.title-label {
  font-family: "Dancing Script", cursive;
  font-size: 28px;
}

.user-img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
}

mat-icon {
  cursor: pointer;
}
