<main class="d-flex flex-column position-sticky top-0">
  <a routerLink="/home" class="a m-0">
    <div
      class="d-flex justify-content-start align-items-center gap-4 pt-3 pb-3 logo-container"
    >
      <img
        src="../../../../assets/images/sidebar-icons/logo.png"
        alt="fav icon"
        class="fav-icon"
      />
      <span class="fw-bold hms-title text-white align-text-top text-visiblity"
        >Haji Mumtaz Shop</span
      >
    </div>
  </a>

  <ng-container *ngFor="let link of links">
    <a [routerLink]="link.routerLink" routerLinkActive="active" class="a">
      <div
        class="d-flex justify-content-start align-items-center gap-4 p-4 item-link"
      >
        <!-- <span class="material-symbols-outlined">{{ link.icon }}</span> -->
        <img
          [src]="getImgPath(link)"
          alt="image not prview"
          style="margin-left: -14px"
        />
        <span class="text-visiblity">{{ link.label }}</span>
      </div>
    </a>
  </ng-container>
</main>
