.container-fluid {
  background-color: #243066;
  color: #fff;
  padding: 0% !important;
}

.sidebar-bg, .header-bg {
  background-color: #1a1a1a9e;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  max-width: 320px;
  background-color: #2e2e2e;
  z-index: 1;
  overflow-y: auto;
}

.header {
  position: relative;
  top: 0;
  left: 17.5%;
  width: calc(100% - 17%);
  background-color: #2e2e2e;
  padding: 25px 20px;
}

.dashboard {
  position: relative;
  left: 17.5%;
  height: auto;
  width: calc(100% - 17%);
  background-color: #000000;
  padding: 10px 20px;
}

.grid-box {
  display: grid;
  grid-template-columns: 90px auto;
  gap: 15px;
}

@media (min-width: 1170px) {
  .sidebar {
    width: 17%;
  }

  .grid-box {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 20px;
  }

  .header {
    left: 17.5%;
    width: calc(100% - 17%);
  }

  .dashboard {
    left: 17.5%;
    width: calc(100% - 17%);
  }
}

@media (max-width: 767px) {
  .header-size {
    padding: 1.5rem !important;
  }
}
